[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

colorama = "*"
coverage = "*"
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
nose = "*"
"psycopg2-binary" = "*"
pytz = "*"
xmlrunner = "*"
unittest-xml-reporting = "*"
pinocchio = "*"
django-nose = "*"


[requires]

python_version = "3.6"
